*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* eigula diya must because amra shob manually style korbo */

}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.logo h2{
    font-size: 42px;
    

}
.orange-color{
    color: #FD6E0A;
      font-weight: 900px;
}
nav .list-style{
    list-style: none;
    display: flex;
    gap:51px;
    align-items: center;
}
nav .list-style a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none ;
    padding: 18px 36px 19px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    
}
.section-heading{
    max-width: 827px;
    text-align: center;

}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    
}
.section-heading p{
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}



/* main style */
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url("../images/header_bg.png"),#FFF8F3;
    background-position: top left, bottom right;
    
    background-repeat: no-repeat;
    padding-top:50px ;
   
    
}
nav{
    width: 71%;
    max-width:1140px ;
    border: 1px solid red;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#banner{
    border: 1px solid red;
    padding: 47px 38px 0px 230px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
#banner .banner-content h2{
    font-size: 47px;
    font-weight:600;
    color: #474747;
    margin-bottom: 5px;


}
#banner .banner-content h1{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;

}
#banner .banner-content p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    max-width: 585px;
    
}
#banner .banner-img img{

    max-width: 585px;
   vertical-align: middle;
}
#about{
   padding-top: 130px;


}
#about .about-container{
    max-width: 1140px;
    width: 71%;
    margin: auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

    
}
#about .about-container .about-info{
    display: flex;
    gap:50px;
    justify-content: space-around;
}
#about .about-container .about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;

}
#about .about-container .about-info .info-card h4{
 color: #474747;
 font-weight: bold;
 font-size: 20px ;

}



