*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* eigula diya must because amra shob manually style korbo */

}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.logo h2{
    font-size: 42px;
    

}
.orange-color{
    color: #FD6E0A;
      font-weight: 900px;
}
nav .list-style{
    list-style: none;
    display: flex;
    gap:51px;
    align-items: center;
}
nav .list-style a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none ;
    padding: 18px 36px 19px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    
}
.section-heading p{
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}



/* main style */
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url("../images/header_bg.png"),#FFF8F3;
    background-position: top left, bottom right;
    
    background-repeat: no-repeat;
    padding-top:50px ;
   
    
}
nav{
    width: 71%;
    max-width:1140px ;
    border: 1px solid red;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#banner{
    border: 1px solid red;
    padding: 47px 38px 0px 230px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
#banner .banner-content h2{
    font-size: 47px;
    font-weight:600;
    color: #474747;
    margin-bottom: 5px;


}
#banner .banner-content h1{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;

}
#banner .banner-content p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    max-width: 585px;
    
}
#banner .banner-img img{

    max-width: 585px;
   vertical-align: middle;
}
#about{
   padding-top: 130px;


}
#about .about-container{
    max-width: 1140px;
    width: 71%;
    margin: auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

    
}
#about .about-container .about-info{
    display: flex;
    gap:50px;
    justify-content: space-around;
}
#about .about-container .about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    

}
#about .about-container .about-info .info-card h4{
 color: #474747;   
 font-weight: bold;
 font-size: 20px ;
 

}
#skills , #resume{
    padding-top: 130px;

}
#skills .skills-container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    gap:24px;

}
.skill-box .skill-card{
    padding: 30px ;
    max-width: 267px;
    box-shadow: 0 6px 50px 0  #00000028 ;


}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 23px;
    color:black;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 20px;
    color: #757575;
    line-height: 28px;

}
#skills .skills-container .section-heading p{
    margin-bottom: 50px;
}

#resume .resume-container{
    width: 71%;
    margin: 113px auto 0;
    
    max-width: 1140px;
    display: flex;
    gap: 25px;
}
.section-title {
    margin-bottom: 30px;
}
.card-title{
    color: #474747;
    margin-bottom: 10px;
    max-width: 405px ;
    font-weight: bold;
}
.card-info{
    color: #757575;
    max-width: 309px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.card-text{
    color: #757575;
    max-width: 511px;
    margin-bottom: 30px;
    font-size: 16px;
   line-height: 28px;
   margin-right: 47px;
}
hr{
    margin-bottom: 30px ;
}

#resume .btn{
    max-width: 200px;
    cursor: pointer;
    margin: 50px 400px 113px 400px;
 
}


